.title-section__bgd-image {
  text-align: center;
  align-items: center;
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-image/mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-image/mobile@2.jpg);
  }

  @media (min-width: 768px) {
    background-image: url(../images/bg-image/tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-image/tablet@2.jpg);
  }

  @media (min-width: 12000px) {
    background-image: url(../images/bg-image/detskop.jpg);
    height: 37.5rem;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-image/detskop@2.jpg);
  }
}
@media (max-width: $mobile-size) {
  .title-section__bgd-image {
    padding: 118px 0;
  }
}
.title-section__title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--letters_and_logo_color_white);
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media (max-width: $tablet-size) {
  .title-section__title {
    width: 100%;
    height: 400px;
    padding: 100px 57px;
    font-size: 26px;
    line-height: 1.62;
  }
}
